body {
    font-family: sans-serif;
}

#stimulus {
    width: 100px;
    height: 100px;
    position: absolute;
    transition: background-color 3s ease-in-out;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
